:root {
    --bg-color: rgb(174, 174, 174);
    --nav-color: rgb(231, 231, 231);
}

body {
    gap: 1rem;
    background-color: var(--bg-color);
    font-family: "JetBrains Mono", monospace;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-flow: column;
}

#canvas {
    width: 100%;
    display: block;
    height: 100%;
}

#canvas-container {
    width: 100%;
    flex: 1 1 auto;
}

#nav {
    flex-flow: row;
    display: flex;
    height: 3rem;
    width: 100%;
    background-color: var(--nav-color);
}

.nav-button {
    flex: 1 1 auto;
    background-color: var(--nav-color);
    font-family: inherit;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 0.05em;
    cursor: pointer;
    border: none;
    color: black;
}

#foot {
    align-items: center;
    text-align: center;
    flex-flow: row;
    display: flex;
    height: 3rem;
    width: 100%;
    background-color: var(--nav-color);
    font-size: 12px;
}

#foot > * {
    flex: 1;
}

#foot > span {
    flex-grow:4;
}

.foot-icon > img {
    height: 2rem;
    width: 2rem;
}
