:root {
    --bg-color: rgb(53, 42, 58);
    --nav-color: rgb(238, 238, 245);
    --color-red: #C03351;
    --color-blue: #51618E;
}

a {
    all: unset;
}

img {
    max-width: 100%;
}

body {
    background-color: var(--bg-color);
    font-family: "JetBrains Mono", monospace;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100svh;
    display: flex;
    flex-flow: column;
}

#canvas {
    width: 100%;
    display: block;
}

#container {
    position: relative;
    width: 100%;
    max-width: 1200px;
    flex: 1 1 auto;
    margin: auto;
}

.no-show {
    display: none !important;
}

.hidden {
    height:0px !important;
    top: -100% !important;
}

#box-content-container {
    padding: 0 1rem;
    overflow: auto;
    height: 100%;
    overscroll-behavior: contain;
}

.box-content {
    display: flex;
    flex-flow: column;
    text-align: center;
    max-width: 900px;
    margin: auto;
}

#content-about {
    display: flex;
    flex-flow: column;
    text-align: center;
    max-width: 900px;
    margin: auto;
}

.link {
    cursor: pointer; 
    color: var(--color-blue);
    font-weight: 800;
}

.highlight-word {
    color: var(--color-red);
    font-weight: 800;
}

.separator {
    border-bottom: solid var(--bg-color);
    width: 80%;
    margin: 1rem auto;
}

.about-image {
    width: 10rem;
    margin: auto;
}

#box {
    gap: 1rem;
    display: flex;
    flex-flow: column;
    transition: all 0.75s;
    position: absolute;
    left:2.5%;
    top: 2.55%;
    width: 95%;
    height: 95%;
    background-color: var(--nav-color);
    opacity: 0.94;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

#box-nav {
    background-color: #191718;
    height: 6rem;
}

.box-nav-button {
    cursor: pointer;
    color: var(--nav-color);
    flex: 1 1 auto;
}

.active {
    transform-origin: center;
    transition: all 0.5s;
    scale: 1.2;
    color: var(--color-red);
}

.nav {
    display: flex;
    text-align: center;
    align-items: center;
    height: 4rem;
    width: 100%;
}

#header-nav {
   background-color: var(--nav-color);
}

#nav-home {
    font-size: 1.25rem;
    font-style: italic;
    width: 12rem;
    cursor: pointer;
    flex: 0 0 auto;
}

#nav-middle {
    flex: 1 1 0;
    min-width: 0;
}

#nav-burger {
    cursor: pointer;
    flex: 0 0 auto;
    width: 4rem;
}

.icon:hover {
    transform-origin: center;
    transition: all 0.25s;
    scale: 1.1;
}

#nav-burger > img {
    height:3rem;
    width: 3rem;
}

#foot {
    align-items: center;
    text-align: center;
    display: flex;
    height: 4rem;
    width: 100%;
    background-color: var(--nav-color);
    font-size: 12px;
}

#foot-middle {
    flex: 1 1 0;
    min-width: 0;
}

#foot-text {
    width: 12rem;
    font-weight: 500;
    flex: 0 0 auto;
}

.foot-icon {
    cursor: pointer;
    width: 3rem;
    flex: 0 0 auto;
}

.foot-icon img {
    height: 2rem;
    width: 2rem;
}

#timeline {
    text-align: left;
    margin: auto;
}

.timeline-row {
    margin-top: 0.5rem;
    display: flex;
    gap: 0.5rem;
}

.timeline-image {
    width: 13rem;
    max-width: 50%;
}

.timeline-content-container {
    align-items: center;
    display: flex;
}

.timeline-date {
    font-weight: bold;
    color: var(--color-blue);
    display: flex;
    justify-content: flex-end;
}

.timeline-line {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.timeline-line::before {
    content: "";
    flex-grow: 1;
    width: 3px;
    background: var(--bg-color);
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: -1;
}

.timeline-dot {
    width: 0.75rem;
    height: 0.75rem;
    background: var(--color-red);
    border-radius: 50%;
    z-index: 1;
}

.timeline-content {
    flex: 1;
    padding-bottom: 0.25rem;
}

.timeline-content h3 {
    margin: 0;
}