:root {
    --bg-color: rgb(53, 42, 58);
    --nav-color: rgb(238, 238, 245);
}

a {
    all: unset;
}

body {
    gap: 1rem;
    background-color: var(--bg-color);
    font-family: "JetBrains Mono", monospace;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100svh;
    display: flex;
    flex-flow: column;
}

#canvas {
    width: 100%;
    display: block;
}

#container {
    position: relative;
    width: 100%;
    max-width: 1200px;
    flex: 1 1 auto;
    margin: auto;
}

.hidden {
    display: none;
}

#box {
    position: absolute;
    top: 12%;
    left: 12%;
    width: 77%;
    height: 77%;
    background-color: var(--nav-color);
}

#nav {
    text-align: center;
    align-items: center;
    flex-flow: row;
    display: flex;
    height: 4rem;
    width: 100%;
    background-color: var(--nav-color);
}

#nav-home {
    font-size: 1.5rem;
    width: 14rem;
    cursor: pointer;
    flex: 0 0 auto;
}

#nav-middle {
    flex: 1 1 0;
    min-width: 0;
}

#nav-burger {
    cursor: pointer;
    flex: 0 0 auto;
    width: 4rem;
}

.icon:hover {
    transform-origin: center;
    transition: all 0.25s;
    scale: 1.1;
}

#nav-burger > img {
    height:3rem;
    width: 3rem;
}

#foot {
    align-items: center;
    text-align: center;
    display: flex;
    height: 4rem;
    width: 100%;
    background-color: var(--nav-color);
    font-size: 12px;
}

#foot-middle {
    flex: 1 1 0;
    min-width: 0;
}

#foot-text {
    width: 12rem;
    font-weight: 500;
    flex: 0 0 auto;
}

.foot-icon {
    cursor: pointer;
    width: 3rem;
    flex: 0 0 auto;
}

.foot-icon img {
    height: 2rem;
    width: 2rem;
}