:root {
    --bg-color: rgb(53, 42, 58);
    --nav-color: rgb(238, 238, 245);
}

a {
    all: unset;
}

body {
    gap: 1rem;
    background-color: var(--bg-color);
    font-family: "JetBrains Mono", monospace;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-flow: column;
}

#canvas {
    width: 100%;
    display: block;
    height: 100%;
}

#canvas-container {
    width: 100%;
    flex: 1 1 auto;
}

#nav {
    text-align: center;
    align-items: center;
    flex-flow: row;
    display: flex;
    height: 4rem;
    width: 100%;
    background-color: var(--nav-color);
}


.nav-button {
    background-color: var(--nav-color);
    font-family: inherit;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 0.05em;
    cursor: pointer;
    border: none;
    color: black;
}

#nav-home {
    cursor: pointer;
    flex: 1 1 auto;
}

#nav-middle {
    flex-grow: 5;
}

#nav-burger {
    cursor: pointer;
    flex: 0 0 auto;
    width: 4rem;
}

#nav-burger > img {
    height:3rem;
    width: 3rem;
}

#foot {
    align-items: center;
    text-align: center;
    display: flex;
    height: 4rem;
    width: 100%;
    background-color: var(--nav-color);
    font-size: 12px;
}

#foot > * {
    flex: 1;
}

#foot > span {
    flex-grow:4;
}

.foot-icon > img {
    height: 2rem;
    width: 2rem;
}
