:root {
    --bg-color: rgb(53, 42, 58);
    --nav-color: rgb(238, 238, 245);
    --color-red: #C03351;
}

a {
    all: unset;
}

img {
    max-width: 100%;
}

body {
    background-color: var(--bg-color);
    font-family: "JetBrains Mono", monospace;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100svh;
    display: flex;
    flex-flow: column;
}

#canvas {
    width: 100%;
    display: block;
}

#container {
    position: relative;
    width: 100%;
    max-width: 1200px;
    flex: 1 1 auto;
    margin: auto;
}

.hidden {
    height:0px !important;
    top: -100% !important;
}

#box-content {
    overflow: auto ;
    max-height: 100%;
    overscroll-behavior: contain ;
}

#content-about {
    display: flex;
    flex-flow: column;
    text-align: center;
    max-width: 900px;
    width: 95%;
    margin: auto;
}

.highlight-word {
    color: var(--color-red);
    font-weight: 800;
}

.separator {
    border-bottom: solid var(--bg-color);
    width: 70%;
    margin: 1rem auto;
}

.about-image {
    width: 10rem;
    margin: auto;
}

#box {
    gap: 1rem;
    display: flex;
    flex-flow: column;
    transition: all 0.75s;
    position: absolute;
    left:2.5%;
    top: 5%;
    width: 95%;
    height: 90%;
    background-color: var(--nav-color);
    opacity: 0.96;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

#box-nav {
    display: flex;
    text-align: center;
    align-items: center;
    height: 4rem;
    width: 100%;
    background-color: #191718;
}

.box-nav-button {
    cursor: pointer;
    color: var(--nav-color);
    flex: 1 1 auto;
}

.active {
    transform-origin: center;
    transition: all 0.5s;
    scale: 1.2;
    color: var(--color-red);
}

#box-content {
}

#nav {
    display: flex;
    text-align: center;
    align-items: center;
    height: 4rem;
    width: 100%;
    background-color: var(--nav-color);
}

#nav-home {
    font-size: 1.25rem;
    font-style: italic;
    width: 12rem;
    cursor: pointer;
    flex: 0 0 auto;
}

#nav-middle {
    flex: 1 1 0;
    min-width: 0;
}

#nav-burger {
    cursor: pointer;
    flex: 0 0 auto;
    width: 4rem;
}

.icon:hover {
    transform-origin: center;
    transition: all 0.25s;
    scale: 1.1;
}

#nav-burger > img {
    height:3rem;
    width: 3rem;
}

#foot {
    align-items: center;
    text-align: center;
    display: flex;
    height: 4rem;
    width: 100%;
    background-color: var(--nav-color);
    font-size: 12px;
}

#foot-middle {
    flex: 1 1 0;
    min-width: 0;
}

#foot-text {
    width: 12rem;
    font-weight: 500;
    flex: 0 0 auto;
}

.foot-icon {
    cursor: pointer;
    width: 3rem;
    flex: 0 0 auto;
}

.foot-icon img {
    height: 2rem;
    width: 2rem;
}